In [ ]:
#LIST

my_list = [1 , True, "text", False]
print(my_list)

In [ ]:
print(my_list[0])
print(len(my_list))

In [ ]:
print(0 in my_list)
print('text' in my_list)

# my_list.append(5)
print(my_list)

print(my_list.count(5))

my_list.append([1, 2, 3])
print(my_list)

In [ ]:
# my_list.extend([1, 2, 3])
print(my_list)

print(my_list[-10])

In [ ]:
my_list.index(False)

In [ ]:
my_list.insert(3, "NEW")
print(my_list)

In [ ]:
# my_list.pop() trina viena dalyka
print(my_list)

In [ ]:
# my_list.remove(5) TRINA NORIMA DALYKA
print(my_list)

In [ ]:
my_list.reverse() # Apvercia lista (gali su kiekvienu paspaudimu apversti)
print(my_list)

In [ ]:
print(my_list[::-1]) # Apvercia lista (viena karta)

In [ ]:
my_int_list = [1, 2, 65, 35, 28, 41]
my_int_list.sort()
print(my_int_list)

In [ ]:
my_string_list = ['a', 'g', 'c', '1']
my_string_list.sort()
print(my_string_list)

In [ ]:
print(sorted(my_int_list))
print(sorted([1, 2, 65, 35, 28, 41]))
print(sorted([1, 2, 65, 35, 28, 41], reverse=True))

In [ ]:
#SLICING
print(my_list[2:4]) #nuo kur iki kur
print(my_list[::2]) #kas 2 printina

In [ ]:
#MUTABLE and IMMUTABLE

#IMMUTABLE:
a = 1 
b = a 
b += 1 
print(a)
print(b)

print(id(a))
print(id(b))

#MUTABLE

list_1 = [1, 2, 3]
list_2 = list_1.copy() #shallow copy
list_1.append(5)
print (list_1)
print (list_2)

print(id(list_1))
print(id(list_2))

#DEEP COPY pvz. yra lektoriaus kode, 2-oje paskaitoje.

In [ ]:
#UZD
50 in [50, 32, 9]
20 in [50, 32, 9, '20']

In [ ]:
[1, 2, 3] + [5, 3, 7]

In [ ]:
#TUPLE

my_tuple = (1, 2, 3)
my_tuple2 = (2, 6, 9)

In [ ]:
print(my_tuple.count(8))
print(my_tuple.index(2))

In [ ]:
my_tuple3 = my_tuple + my_tuple2
print(my_tuple3)

In [ ]:
tmp = list(my_tuple3)
print(tmp)
tmp[2] = 1000
my_tuple3 = tuple(tmp)
print(my_tuple3)

In [ ]:
list_tuple = ([1, 2] , [3, 4])
print(list_tuple)
list_tuple[0][1] = 100
print(list_tuple)
print(100 in list_tuple)
print([1, 100] in list_tuple)

In [ ]:
max([2, 457, 9572, 87])

In [ ]:
print(type([]))
print(type(()))

In [ ]:
my_tuple_4 = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print(my_tuple_4[-1][-1][-1])

In [ ]:
#EXERCISES

tuple_1 = (5, 6, 8)
tuple_2 = (5, 32, 9)

tuple_final = tuple_1 + tuple_2

#...

In [ ]:
#RANGE

print(range(0, 101, 2))
print(type(range(0, 101, 2)))
print(list(range(0, 101, 2)))

In [ ]:
for i in range(10):
    print(i)

In [ ]:
#NONE
type(None)

In [ ]:
name = ''
for i in range(5):
    if name == '':
        print(f"variable 'name' had no value (None), assigning name")
        name = input("Enter your name: ")
    else:
         print(f"variable 'name' has value of {name}")

In [ ]:
name is None

In [ ]:
#FOR LOOP

my_cities = ["Vilnius", "Klaipeda", "Palanga"]
for city in my_cities:
    #print(city)
    print(f"{city} is fantastic!")
print("pabaiga")

In [ ]:
#EXERCISE

dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []

for day in dienos:
    #print(day)
    for hour in valandos:
        #print(hour)
        kombinacijos.append((day, hour))

print(kombinacijos)

In [ ]:
#IF

name = 'Tomas'
year = 2003

if name == 'Tomas':
    print(f"Sveikas {name}")
elif name == 'Jonas':
    print(f"{name}")
else:
    print(f"Nepazistamas vardas {name}")

In [ ]:
#IF EXERCISES

for number in range(0, 21):
    if number % 3 == 0:
        print(number)

In [ ]:
#IF EXERCISES

sum = 0

for number in range(0, 51):
    if (sum + number) % 2 == 0:
        sum += number
        print(sum)

In [ ]:
#INPUT EXERCISES

input_user = int(input("Enter a number: "))

for number in range(0, 11):
    if input_user ** 2 % 2 != 0:
        print(number * input_user)

In [ ]:
#EXTRA EXERCISE

dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

leidziamos_dienos = ['Pirmadienis', 'Treciadienis']
kombinacijos = []

for diena in dienos:
    for valanda in valandos:
        if diena in leidziamos_dienos and valanda in range(12, 18):
            kombinacijos.append((diena, valanda))
print(kombinacijos)

List comprehensions

In [ ]:
kombinacijos = [(diena, valanda) for diena in dienos for valanda in valandos if diena in leidziamos_dienos and valanda in range(12, 18)]
print(kombinacijos)

In [ ]:
vardai = ['Tomas', 'Marius', 'Paulius']
vardai_2 = [f"Sveikas {vardas}" for vardas in vardai]
print(vardai_2)